@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-6" id="description2">
            <h1>Caleb Thilmun</h1>
            <h3>A short description of myself.</h3>
            <br />
            <p>
                I am 21 years old this year in October. I am in my third year of study at the University of Pretoria studying BCom Informatics.
                I come from a family of 5 including my two older sisters, my two parents and myself. I would describe myself as outgoing and sociable.
                I am a very warm and welcoming person and enjoy working with people. I have interests in football, motorsport, cricket, gaming, technology
                and hobbies of art and gardening. One day I would like to expand my knowledge and study things in the fields of Artificial Intelligence and Data Science.
                I am particularly interested in Data Science because I feel as if it has loads of potential in the future and so many different
                use cases to be applied to.
            </p>

        </div>

        <div class="col-md-6">

        <img src="~/Content/IMG_0029[507].jpg" id="me" width="550" height="550" />

        </div>
    </div>
</div>

<style>
    #me{
        margin-top: 35px;
        padding-left: 50px;
    }

    #description2{
        margin-top: 35px;
        padding-top: 25px;
        padding-bottom: 200px;
        background-color:#635656;
        color: white;
    }
</style>
